.deposit__list{}
.deposit__list li{
    border:1px solid #bfbfbf;
    border-radius:1px;
    margin-bottom:40px;
    padding:20px;
    zoom:1;
}
.deposit__list li:after{
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}
.deposit__list li>div{
    float:left;
}
.deposit__list li div span.li_title{
    display:block;
    color:#db4713;
    font-size:18px;
    margin-bottom:25px;
}
.deposit__list li div a{
    display:block;
    height:22px;
    position:relative;
    background:url('../img/deposit_button_bg.png') repeat;
    border-radius:3px;
}
.deposit__list li div a:hover{
    text-decoration:none;
}
.deposit__list li div a p{
    min-width:200px;
    padding-left:10px;
    padding-right:26px;
    font-size:12px;
    line-height:22px;
    color:#fff;
    letter-spacing:1px;
}
.deposit__list li div a span{
    display:inline-block;
    width:15px;
    height:15px;
    font-weight:bold;
    line-height:15px;
    text-align:center;
    color:#000;
    background:#fff;
    border-radius:50%;
    position:absolute;
    right:7px;
    top:3px;
}
.deposit__list li img{
    float:right;
    /* height:79px; */
}
p.attention{
    font-size:18px;
    color:#4e4e4e;
    margin-bottom:10px;
    letter-spacing:2px;
}
p.attention_text{
    font-size:18px;
    color:#4e4e4e;
    letter-spacing:2px;
}
.text__list{
    letter-spacing:2px;
    font-size:18px;
    color:#4e4e4e;
    list-style:disc;
    padding-left:20px;
}

/* 出金页面 */
/* .withdrawal_button{
    display:inline-block;
    width:156px;
    height:40px;
    border-radius:3px;
    background:url('../img/deposit_button_bg.png') repeat-x;
    background-size:1px 40px;
    position:relative;
    font-size:18px;
    color:#fff;
    line-height:40px;
    padding:0 9px;
    letter-spacing:2px;
    margin-top:35px;
}
.withdrawal_button p{}
.withdrawal_button span{
    display:inline-block;
    position:absolute;
    color:#000;
    background:#fff;
    width:25px;
    height:25px;
    border-radius:50%;
    font-size:30px;
    line-height:20px;
    text-align:center;
    font-weight:bold;
    top:8px;
    right:9px;
} */
/* 账户间转账页面 */
.transfer_table{
    border:1px solid #bfbfbf;
    text-align:center;
    width:827px;
    height:115px;
}
.transfer_table tr th{
    background:#999999;
    color:#fff;
    font-size:18px;
    font-weight:normal;
    border-left:1px solid #7d7c7c;
}
.transfer_table tr td{
    background:#eae9e9;
    color:#000;
    font-size:18px;
    border-left:1px solid #7d7c7c;
}
.transfer_table tr .one{
    width:230px;
    border:none;
}
._button {
    display: inline-block;
    /* width: 156px; */
    height: 40px;
    border-radius: 3px;
    background: url(../img/deposit_button_bg.png) repeat-x;
    background-size: 1px 40px;
    position: relative;
    font-size: 18px;
    color: #fff;
    line-height: 40px;
    padding: 0 40px 0 12px;
    letter-spacing: 2px;
    margin-top: 35px;
}
._button span {
    display: inline-block;
    position: absolute;
    color: #000;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    top: 8px;
    right: 9px;
}
/* 常见问题（出入金） */
.deposit_problem_list{
   width:700px;
}
.deposit_problem_list li{
    border-bottom:1px solid #d1d1d1;
}
.deposit_problem_list li p.problem_title{
    display:inline-block;
    cursor:pointer;
    line-height:48px;
}
.deposit_problem_list li p.problem_title.active{
    color:#db4713;
}
.deposit_problem_list li p.problem_title:hover{
    color:#db4713;
}
.deposit_problem_list li p.problem_answer{
    display:none;
    padding-left:10px;
}
/* 常用词汇表 */
.letter_div{
    display:inline-block;
    margin-top:40px;
}
.letter_div a{
    display:inline-block;
    width:35px;
    height:27px;
    font-size:14px;
    line-height:27px;
    text-align:center;
    background:#22261d;
    border-right:1px solid #38432d;
    color:#fff;
}
.letter_div a:hover{
    color:#767658;
    text-decoration:none;
}
.letter_div a:first-child{
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
.letter_div a:last-child{
    border-top-right-radius:8px;
    border-bottom-right-radius:8px;
}
.letter_content_div{
    width:910px;
}
.letter_content_div h2{
    font-size:20px;
    border-bottom:1px solid #e3e3e3;
    line-height:38px;
    margin:25px 0 20px;
    float:left;
    width:100%;
}
.letter_content_div div{
    width:50%;
    padding-right:30px;
    float:left;
}
.letter_content_div div span{
    display:block;
    margin:4px 0;
}
.letter_content_div div span a{
    font-size:16px;
    /* color:#000; */
}
.letter_content_div div span a.active{
    color:#db4713;
}
.letter_content_div div span a:hover{
    color:#db4713;
    text-decoration:none;
}
.letter_content_div div p{
    font-size:14px;
    color:#777;
    line-height:20px;
    display:none;
    text-align:justify;
}
/* 财经日历 */
p.calendar_attention {
    font-size: 14px;
    color: #4e4e4e;
    margin-bottom: 10px;
    letter-spacing: 2px;
}
p.calendar_attention_text {
    font-size: 15px;
    color: #4e4e4e;
    letter-spacing: 2px;
}
/* 知识库 */
.content_box img.knowledge_big_img{
    width:100%;
}
.content_box .content_p{
    font-size:18px;
    margin-top:30px;
    line-height:30px;
}
.knowledge_list{
    margin-top:40px;
}
.knowledge_list>li{
    border:1px solid #e3e3e3;
    box-shadow:0 1px 1px rgba(0,0,0,.05);
    background:transparent;
    border-bottom:none;
}
.knowledge_list>li:last-child{
    border-bottom:1px solid #e3e3e3;
}
.knowledge_list li p.li_title{
    color:#333;
    background:url('../img/plus.png') no-repeat 28px center;
    padding:18px 30px;
}
.knowledge_list li .li_title_div{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.knowledge_list li .li_title_div.active{
    background:#f1f1f1;
}
.knowledge_list li .li_title_div.active p.li_title{
    background:url('../img/minus.png') no-repeat 28px center;
}
.knowledge_list .li_title a{
    color:#282a36;
    font-size:16px;
    padding-left:40px;
    display:block;
}
.knowledge_list li div.li_content_div{
    padding:5px 30px 30px 36px;
    background:#f1f1f1;
    display:none;
}
.knowledge_list li div.li_content{
    border-left:2px solid #999999;
    padding-left:20px;
}
.knowledge_list .li_content h3{
    color:#db4713;
    font-size:17px;
    margin-bottom:5px;
}
.knowledge_list .li_content p{
    margin-bottom:20px;
    font-size:15px;
}
.knowledge_list .li_content p:last-child{
    margin-bottom:0;
}
.knowledge_list .li_content ul{
    list-style:disc;
    padding-left:20px;
    font-size:15px;
}
/* 市场新闻 */
.news_list{}
.news_list li{
    float:left;
    width:300px;
    margin:0 25px 60px 0; 
}
.news_list li:nth-child(3n+0){
    margin-right:0px;
}
.news_list li a img{
    width:300px;
    height:150px;
}
.news_list li h4{
    font-size:18px;
    font-weight:bold;
    margin:15px 0;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.news_list li p{}
.news_list li p a{
    height:69px;
    display:block;
    font-size:15px;
    line-height:23px;
    color:#000;
    position:relative;
    overflow:hidden;
}
.news_list li p a::after{
    content:'...';
    width:150px;
    height:23px;
    display:inline-block;
    position:absolute;
    background:#fff;
    bottom:0;
    right:0;
    z-index:10;
}
.news_list li p a:hover{
    text-decoration:none;
    color:#db4713;
}
.news_list li div{
    margin-top:10px;
    background:rgb(236,236,236);
    padding:0 10px;
}
.news_list li div p{
    line-height:23px;
    font-size:13px;
    position:relative;
    color:#7d7c7c;
}
.news_list li div p span{
    display:inline-block;
    position:absolute;
    padding-left:19px;
    top:0;
    right:0;
    background:url('../img/read_icon.jpg') -1px 4px no-repeat;
}
/* 市场新闻详情页 */
.news_detail_content{
    padding-top:30px;
}
.news_detail_content img{
    max-width:600px;
}
.news_detail_content p{
    font-size:15px;
    line-height:28px;
    margin-bottom:40px;
}