.page__main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.grid__container:before, .grid__container:after {
    display: table;
    content: '';
}
h1, .text__h1 {
    font: normal 24px/36px Georgia,serif;
}
h1 {
    margin-bottom: 9px;
}
/* 轮播图 */
.promoblock {
    position: relative;
    margin-bottom: 18px;
    height: 306px;
    outline: 0;
    background: #f2f4f4;
}
.promoblock_type_main {
    margin-bottom: 0;
    height: 288px;
    font-size: 15px;
}
/* 轮播上一个下一个按钮 */
.promoblock__arrow {
    position: absolute;
    top: 50%;
    z-index: 2;
    display: none;
    overflow: hidden;
    margin: -14px 0 0;
    padding: 0;
    width: 20px;
    height: 28px;
    outline: 0;
    border: 0;
    background: no-repeat;
    text-indent: -999em;
}
.promoblock__arrow_moving_l {
    left: -25px;
}
.promoblock__arrow_moving_r {
    right: -25px;
}
.promoblock__arrow_moving_l {
    background-image: url('../img/moving_l_bg.png');
}
.promoblock__arrow_moving_r {
    background-image: url('../img/moving_r_bg.png');
}
.promoblock_active_yes .promoblock__arrow {
    display: block;
}
/* 轮播图片 */
.promoblock__items {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -ms-touch-action: none;
    touch-action: none;
}
.promoblock_type_main .promoblock__items {
    overflow: visible;
}
.promoblock__item {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: none;
}
.promoblock__item_name_meta-trader-5 {
    background-color: #000;
    color: #fff;
}
.promoblock__item_active_yes {
    z-index: 1;
    display: block;
    opacity: 1;
    outline: 0;
}
.promoblock__item_name_meta-trader-5 {
    background-color: #000;
    color: #fff;
}
.promoblock__item_name_world-largeset-trader {
    background-color: #222527;
    color: #fefefe;
    font-size: 12px;
}
.promoblock__item_name_bfopay-commission-refund {
    background-color: #e77d81;
}
.promoblock__item_name_global-development {
    background-color: #faf8ec;
}
.promoblock__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
    background: rgba(0,0,0,0);
}
.promoblock__content {
    position: absolute;
    top: 0;
    left: 0;
}
.promoblock__item_name_meta-trader-5 .promoblock__content {
    top: 72px;
    left: 620px;
    width: 230px;
    font-size: 12px;
}
.promoblock__item_name_meta-trader-5 .promoblock__title {
    margin-bottom: 18px;
    color: #fff;
    font: 24px/27px Georgia,serif;
}
p {
    margin: 0 0 18px;
}
.promoblock_type_main .promoblock__text, .promoblock_type_main .promoblock__more {
    font-size: 14px;
}
.button {
    position: relative;
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: -3px 0;
    padding: 3px 10px;
    outline: 0;
    border: 0;
    border-radius: 6px;
    background: -webkit-linear-gradient(#a6c54c,#688811);
    background: linear-gradient(#a6c54c,#688811);
    background-color: #688811;
    color: #fff;
    vertical-align: top;
    text-align: center;
    text-shadow: 0 -1px 0 #5b721b;
    cursor: pointer;
    -webkit-appearance: none;
}
.button_size_36 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 16px;
}
.promoblock__more, .promoblock__button {
    position: relative;
    z-index: 1;
}
.promoblock_type_main .promoblock__button {
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.37);
    font-size: 18px;
    font-family: Georgia,serif;
}
.promoblock__item_name_meta-trader-5 .promoblock__button {
    background: -webkit-linear-gradient(#a3cd2b,#6b8f07);
    background: linear-gradient(#a3cd2b,#6b8f07);
}
.promoblock__item_name_world-largeset-trader .promoblock__content {
    top: 54px;
    left: 650px;
    width: 290px;
}
.promoblock__item_name_world-largeset-trader .promoblock__title {
    font-size: 21px;
    line-height: 27px;
}
.promoblock__item_name_world-largeset-trader .promoblock__text {
    margin-bottom: 21px;
}
.promoblock__item_name_world-largeset-trader .promoblock__button {
    padding: 0 10px;
    box-shadow: none;
    font: normal 15px/36px Helvetica,Arial,sans-serif;
}
.promoblock__item_name_bfopay-commission-refund .promoblock__content {
    top: 45px;
    right: 100px;
    left: 600px;
    color: #565656;
    font-size: 12px;
}
.promoblock__item_name_bfopay-commission-refund .promoblock__title {
    margin-bottom: 18px;
    color: #565656;
    font-size: 24px;
    line-height: 27px;
}
.promoblock__item_name_bfopay-commission-refund .promoblock__more {
    color: #016aed;
}
.promoblock__item_name_global-development .promoblock__content {
    top: 72px;
    left: 570px;
    width: 320px;
    color: #484745;
}
.page_lang_cn .promoblock__item_name_global-development .promoblock__content {
    width: 350px;
}
.promoblock__item_name_global-development .promoblock__title {
    font: 24px/27px 'Times New Roman',Arial,sans-serif;
}
.promoblock__item_name_global-development .promoblock__text {
    margin-bottom: 27px;
}
.promoblock__item_name_global-development .button {
    padding: 9px 25px;
}
.promoblock__item_name_trader-wars .promoblock__content {
    left: 570px;
    top: 45px;
    width: 330px;
}
.promoblock__item_name_trader-wars .promoblock__title {
    color: #fff;
    font-size: 24px;
    line-height: 27px;
}
.promoblock__item_name_trader-wars .promoblock__text {
    color: #fff;
    font-size: 12px;
}
.s_mb_9 {
    margin-bottom: 9px;
}
/* 左下角五个按钮 */
.promoblock__controls {
    position: absolute;
    right: 10px;
    bottom: 9px;
    z-index: 3;
    padding: 4px 5px 3px;
    border-radius: 6px;
    background: rgba(22,26,17,.6);
}
.promoblock__control {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    outline: 0;
    border: 0;
    background: 0;
    text-indent: -999em;
}
.promoblock__control:before {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border-radius: 10px;
    background: -webkit-linear-gradient(#8d8d8d,#e8e9e6);
    background: linear-gradient(#8d8d8d,#e8e9e6);
    background-color: #e8e9e6;
    content: '';
}
.promoblock__control_state_active:before {
    background: -webkit-linear-gradient(#f7a82d,#c36709);
    background: linear-gradient(#f7a82d,#c36709);
    background-color: #f7a82d;
}
/* 5  21 2  1 */
.home_slider_bottom {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    /* background: rgba(25,25,55,0.6);*/
    background:rgba(171,60,23,0.9);
    border-top: 1px solid #fff;
    width: 100%;
    text-align: center;
    margin-bottom:27px;
}
.home_slider_bottom .inner {
    overflow: hidden;
    width: auto;
    display: inline-block;
    margin: 0px auto;
    padding: 0px;
    vertical-align: middle;
}
.home_slider_bottom .item {
    border-right: 1px solid #fff;
    padding: 10px 12px;
    float: left;
    font-family: Century Gothic,sans-serif !important;
}
.home_slider_bottom .item:last-child {
    border-right: 0;
}
.home_slider_bottom .item .num {
    font-size: 34px;
    color: #fff;
    line-height: 1;
    float: left;
    /* margin-right: 10px; */
}
.home_slider_bottom .item .text {
    font-size: 9px;
    line-height: 16px;
    color: #fff;
    padding-top: 10px;
    float: left;
    text-align: left;
}
.home_slider_bottom .item.item1 .text {
    width: 105px;
    padding-top: 14px;
}
.home_slider_bottom .item.item3 .text {
    width: 100px;
    line-height: 24px;
}
.home_slider_bottom .item.item5 .text {
    width: 123px;
    padding-top: 14px;
}
.home_slider_bottom .item.item6 .text {
    width: 179px;
    padding-top: 14px;
}
.width100{
    width:100%;
    margin:0 auto;
}
/* 在汇率波动中盈利 */
.flex__row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: stretch;
    -ms-align-content: stretch;
    align-content: stretch;
}
.grid__row {
    position: relative;
    margin-left: -10px;
}
.grid__row:after {
    display: table;
    clear: both;
    content: '';
}
.s_mb_27 {
    margin-bottom: 27px;
}
.box {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.flex__col {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
}
.grid__col {
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 10px;
    min-height: 9px;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}
.s_width_320 {
    width: 320px;
}
.main__forex-boon {
    position: relative;
    -ms-flex-pack: justify;
    font-family: Arial,sans-serif;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.box_bordered_yes::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #d0d1d1;
    content: '';
}
.box_rounded_yes::before, .box_rounded_yes>.box__content {
    border-radius: 6px;
}
.box__header {
    position: relative;
    margin: 0;
    padding: 9px 10px;
    border-radius: 6px 6px 0 0;
    color: #fff;
    text-transform: uppercase;
    font: normal 14px/18px Arial,Helvetica,sans-serif;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.box_type_default>.box__header {
    background-color: #384041;
    background-position: bottom;
    background-size: auto 28px,auto;
    background-repeat: repeat-x,repeat;
}
.box__header {
    font-family: Arial, "Microsoft YaHei", 黑体, 微软雅黑, 宋体, sans-serif;
}
.box_type_default>.box__header {
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
}
.main__forex-boon-headline {
    margin: 3px 0 -3px;
    line-height: 27px;
}
.main__forex-boon-subheadline {
    margin: 0;
    color: #d4d9d7;
    text-transform: none;
    font-size: 13px;
}
.box__content {
    position: relative;
    padding: 18px 10px 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.box__content::after {
    display: table;
    clear: both;
    content: '';
}
.s_pb_27 {
    padding-bottom: 27px;
}
.main__forex-boon-content {
    padding-top: 22px;
}
.box_rounded_yes::before, .box_rounded_yes>.box__content {
    border-radius: 6px;
}
.list {
    margin: 0 0 18px;
}
.list_type_disc {
    padding-left: 20px;
}
.s_pb_18 {
    padding-bottom: 18px;
}
.main__forex-boon-list {
    margin-bottom: 0;
}
.main__forex-boon-item {
    margin-bottom: 19px;
}
.list_type_disc>li {
    position: relative;
}
.list_type_disc>li::before {
    position: absolute;
    top: 7px;
    left: -10px;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #a6c54c;
    content: '';
}
.main__forex-boon-list>li.main__forex-boon-item::before {
    top: 10px;
    left: -20px;
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background: #f39b26;
}
.main__forex-boon-title {
    margin: 0;
    color: #464b4a;
    font-size: 21px;
    line-height: 27px;
}
.main__forex-boon-description {
    margin: 0;
    color: #999;
    font-size: 14px;
    line-height: 18px;
}
.main__forex-boon-button-container {
    position: absolute;
    bottom: 9px;
}
/* 账户经理前五名 */
.tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    -ms-flex-align: start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-line-pack: start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.s_width_620 {
    width: 620px;
}
.tabs__title {
    position: relative;
    display: inline-block;
    align-self: stretch;
    -webkit-box-flex: 0;
    -webkit-box-ordinal-group: 1;
    order: 0;
    margin: 0px;
    border-radius: 6px 6px 0px 0px;
    font: 16px/18px Helvetica, ​Arial, sans-serif;
    flex: 0 1 auto;
}
.tabs__title_active_yes {
    background-color: #384041;
    background-position: bottom;
    background-size: auto 28px,auto;
    background-repeat: repeat-x,repeat;
}
.tabs__title_active_yes {
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
}
.tabs__title {
    font-family: Arial, "Microsoft YaHei", 黑体, 微软雅黑, 宋体, sans-serif;
}
.tabs__control {
    display: block;
    padding: 9px 10px;
    max-height: 1000000px;
}
.tabs__title_active_yes .tabs__control {
    color: #fff;
}
.tabs__control::before {
    position: absolute;
    top: 11px;
    bottom: 12px;
    margin-left: -10px;
    border-left: 1px solid #d0d1d1;
    content: '';
}
.tabs__title:first-child .tabs__control::before, .tabs__title_active_yes .tabs__control::before, .tabs__body_active_yes+.tabs__title .tabs__control::before {
    border: 0;
}
.tabs__body {
    position: relative;
    display: none;
    -ms-flex-order: 1;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 18px 10px 0;
    width: 100%;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: start;
    -webkit-order: 1;
    order: 1;
}
.tabs__body_indented_no {
    padding: 0;
}
.tabs__body_active_yes {
    display: block; 
}
.tabs__body::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border: 1px solid #d0d1d1;
    border-top: 0;
    border-radius: 0 0 6px 6px;
    content: '';
}
.tabs__body_indented_no1::after {
    position: absolute;
    top: -3px;
    right: 0;
    left: 0;
    height: 3px;
    background: #384041;
    content: '';
}
.tabs__body_indented_no1::after {
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.12),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
    background-image: linear-gradient(rgba(0,0,0,.12),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
}
.audit-verified {
    position: absolute;
    z-index: 1;
    top: -6px;
    right: 42px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    box-sizing: border-box;
    height: 31px;
    padding-bottom: 2px;
    font: bold 9px/10px Arial;
    letter-spacing: 1px;
    text-shadow: 0 -1px 0 rgba(229,113,19,.8);
    text-transform: uppercase;
    color: #fff;
    background: 0 -31px repeat-x;
    -ms-flex-align: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}
.audit-verified::before {
    position: absolute;
    top: 0;
    left: -11px;
    width: 11px;
    height: 31px;
    content: '';
    background: 0 0 no-repeat;
}
.audit-verified::after {
    position: absolute;
    top: 0;
    right: -22px;
    width: 22px;
    height: 31px;
    content: '';
    background: 100% -62px repeat-x;
}
.audit-verified, .audit-verified::before, .audit-verified::after {
    background-image: url('../img/audit-verified-bg.png');
}
.page_lang_cn .audit-verified {
    font-size: 11px;
    white-space: nowrap;
}
.audit-verified__stamp {
    margin: -1px 7px 0 2px;
}
.audit-verified {
    font-size: 11px;
    white-space: nowrap;
}
.tabs_type_pills {
    background-color: #3b4444;
}
.tabs_type_pills::before {
    position: absolute;
    top: 1px;
    right: 0;
    left: 0;
    height: 1px;
    background: rgba(75,82,83,.26);
    box-shadow: 0 -1px rgba(0,0,0,.32);
    content: '';
}
.tabs::after, .tabs__footer::after {
    display: table;
    clear: both;
    content: '';
}
.tabs_type_pills .tabs__control {
    padding: 4px 10px 5px;
    color: #d4d9d7;
    font-size: 12px;
}
.tabs_type_pills .tabs__title_active_yes .tabs__control {
    color: #a6cc38;
}
.main__banner-mario-link,.main__badge,.main__banner-gazprombank-title,.main__school-title,.page_lang_cn .main__announce-title,.main__pamm .tabs_type_pills .tabs__control {
    font-size: 14px;
}
.tabs_type_pills .tabs__body {
    background-color: #fff;
}
.rating-pamm__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 9px 9px 0;
    min-height: 61px;
    border: 1px solid #d0d1d1;
    border-top: 0;
    background: #fff;
}
.rating-pamm__info {
    overflow: hidden;
    padding: 4px 0 9px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 180px;
    -ms-flex: 0 0 180px;
    flex: 0 0 90px;
}
.rating-pamm__indicators {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 10px 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 350px;
    -ms-flex: 0 0 350px;
    flex: 0 0 350px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rating-pamm__call-to-action {
    padding: 9px 0 0 10px;
}
.rating-pamm__name {
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.rating-pamm__star {
    margin: 3px 0 0;
    width: 58px;
    background: 0 0 no-repeat;
}
.rating-pamm__star {
    background-image: url('../img/stars-fill-bg.svg');
}
.rating-pamm__star-fill {
    display: block;
    height: 9px;
    background: 0 0 no-repeat;
}
.rating-pamm__star-fill {
    background-image: url('../img/stars-fill-pg.svg');
}
.rating-pamm__indicators {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 10px 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 440px;
    -ms-flex: 0 0 440px;
    flex: 0 0 440px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.rating-pamm__indicator-one {
    margin-right: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 120px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
}
.rating-pamm__indicator-two {
    margin-right: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85px;
    -ms-flex: 0 0 85px;
    flex: 0 0 85px;
}
.rating-pamm__indicator-four {
    margin-right: 10px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90px;
    -ms-flex: 0 0 90px;
    flex: 0 0 90px;
}
.rating-pamm__indicator-three {
    text-align: right;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 125px;
    -ms-flex: 0 0 125px;
    flex: 1 0 auto;
}
.rating-pamm__histogram {
    margin-top: 19px;
    margin-bottom: -1px;
    height: 3px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}
.rating-pamm__indicator-one-data {
    margin: 0;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
}
.rating-pamm__description {
    margin: 0;
    color: #999;
    font-size: 11px;
}
.rating-pamm__indicator-one .rating-pamm__description, .rating-pamm__indicator-two .rating-pamm__description, .rating-pamm__indicator-three .rating-pamm__description {
    margin-top: 3px;
    line-height: 9px;
}
.rating-pamm__indicator-two-data {
    margin: 0;
    font-size: 16px;
    line-height: 21px;
}
.rating-pamm__indicator-three-data {
    margin: 0;
    font-size: 16px;
    line-height: 21px;
}
.rating-pamm__histogram-data {
    height: 3px;
    background: #82bc41;
    background: -webkit-linear-gradient(left,#82bc41,#bec531 118px,#ec922d 227px,#f04e23 330px);
    background: linear-gradient(to right,#82bc41,#bec531 118px,#ec922d 227px,#f04e23 330px);
    box-shadow: inset 1px 1px 0 rgba(1,1,1,.11);
}
.rating-pamm__call-to-action {
    padding: 9px 0 0 10px;
}
.rating-pamm__call-to-action-button {
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #688811;
    background: -webkit-linear-gradient(top,#a6c54c,#688811);
    background: linear-gradient(to bottom,#a6c54c,#688811);
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 #5b721b;
    font-size: 23px;
    line-height: 36px;
}
.rating-pamm__item:hover .rating-pamm__indicator-one-data {
    color: #ed8711;
}
.rating-pamm__item:hover .rating-pamm__call-to-action-button {
    background: #c36709;
    background: -webkit-linear-gradient(top,#f7a82d,#c36709);
    background: linear-gradient(to bottom,#f7a82d,#c36709);
    text-decoration: none;
    text-shadow: 0 -1px 0 #b05912;
}
.tabs__footer {
    position: relative;
    clear: both;
    margin: 0 -10px;
    padding: 4px 9px 3px;
    border: 1px solid #d0d1d1;
    border-top-color: #e6e7e7;
    border-radius: 0 0 6px 6px;
    background: #f2f4f4;
}
.main__pamm-footer {
    padding: 9px 9px 8px;
    border-top: 0;
    border-top-color: #d0d1d1;
    background: #fff;
}
.tabs__body_indented_no .tabs__footer {
    margin: 0;
}
.s_float_l {
    float: left;
}
.text_lh_36 {
    line-height: 36px;
}
.s_mb_0 {
    margin-bottom: 0;
}
.s_ml_10 {
    margin-left: 10px;
}
.text_size_14 {
    font-size: 14px;
}
.s_valign_t {
    vertical-align: top;
}
.s_float_r {
    float: right;
}
.tabs::after, .tabs__footer::after {
    display: table;
    clear: both;
    content: '';
}
.button_focus_yes, .button:focus, .button_hover_yes, .button:hover {
    background: -webkit-linear-gradient(#f7a82d,#c36709);
    background: linear-gradient(#f7a82d,#c36709);
    background-color: #c36709;
    text-decoration: none;
    text-shadow: 0 -1px 0 #b05912;
}
/* 积分奖励计划 */
.main__cashback {
    display: block;
    position: relative;
    margin: 0 0 27px;
}
.main__cashback::after {
    display: table;
    clear: both;
    content: '';
}
.main__cashback-link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.main__cashback-title {
    float: left;
    padding-top: 9px;
    padding-left: 130px;
    width: 225px;
    height: 63px;
    background: 29px 6px no-repeat;
    text-align: center;
    box-sizing:content-box;
}
.main__cashback-title {
    background-image: url('../img/cashback-title_bg.png');
}
.main__cashback-title {
    padding-left: 100px;
    width: 235px;
    background-position: 6px 6px;
}
.main__cashback-title-text {
    margin-bottom: 9px;
    font: bold 24px/27px 'pt serif',serif;
    color: #464b4a;
}
.main__cashback-title-desc {
    margin: 0;
    font-size: 15px;
    position: relative;
    z-index: 2;
}
.main__cashback-connected {
    float: left;
    width: 350px;
    text-align: center;
}
.main__cashback-connected.width245{
    width:245px;
}
.scoreboard {
    margin-bottom: 3px;
    direction: ltr;
    display:inline-block;
}
.scoreboard::after{
    display: table;
    clear: both;
    content: '';
}
.scoreboard__cell {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 2px 0 0;
    width: 32px;
    height: 49px;
    vertical-align: top;
    float:left;
}
.scoreboard__cell.scoreboard__cell_value_0{
    background:url('../img/scoreboard_bg.png') 0px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_1{
    background:url('../img/scoreboard_bg.png') -33px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_2{
    background:url('../img/scoreboard_bg.png') -66px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_3{
    background:url('../img/scoreboard_bg.png') -99px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_4{
    background:url('../img/scoreboard_bg.png') -132px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_5{
    background:url('../img/scoreboard_bg.png') -165px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_6{
    background:url('../img/scoreboard_bg.png') -198px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_7{
    background:url('../img/scoreboard_bg.png') -231px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_8{
    background:url('../img/scoreboard_bg.png') -264px 0px no-repeat;
}
.scoreboard__cell.scoreboard__cell_value_9{
    background:url('../img/scoreboard_bg.png') -297px 0px no-repeat;
}
.main__cashback-connected-desc {
    margin: 0;
    font-size: 15px;
    color: #464b4a;
}
.scoreboard__separator {
    position: relative;
    display: inline-block;
    margin: 2px 0 0;
    width: 10px;
    height: 49px;
    vertical-align: top;
    float:left;
}
.scoreboard__unit {
    position: relative;
    display: inline-block;
    margin: 2px 0 0;
    padding: 0;
    vertical-align: top;
    float:left;
}
.scoreboard__unit_type_usd {
    width: 32px;
    height: 49px;
    background:url('../img/scoreboard_bg.png') -330px 0 no-repeat;
}
/* 新闻 */
.grid__col_w_12 {
    width: 470px;
}
.flex__growable {
    -webkit-flex: 2 0 auto;
    -ms-flex: 2 0 auto;
    flex: 2 0 auto;
}
.s_p_0 {
    padding: 0;
}
.main__news-list {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 18px 10px 0;
}
.list_space_18>li {
    margin-bottom: 18px;
}
.main__news-list li {
    position: relative;
    overflow: hidden;
    max-height: 36px;
    white-space: nowrap;
}
.main__news-props {
    position: relative;
    margin-bottom: 0;
}
.main__news-list li {
    position: relative;
    overflow: hidden;
    max-height: 36px;
    white-space: nowrap;
}
.main__news-date {
    margin-right: 10px;
    font-size: 12px;
}
.main__news-category {
    overflow: hidden;
    color: #999;
    white-space: nowrap;
    font-size: 12px;
}
.main__news-category-item {
    position: relative;
    margin: 0 0 0 10px;
}
.main__news-category-item::after {
    position: absolute;
    left: -9px;
    content: ',';
}
.main__news-category-item:first-child::after {
    top: 0;
    bottom: 0;
    left: -10px;
    width: 1px;
    background-color: #bbb;
    content: '';
}
.main__news-list a::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 18px;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    content: '';
}


.box__footer {
    position: relative;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    clear: both;
    padding: 4px 9px 3px;
    border: 1px solid #d0d1d1;
    border-top-color: #e6e7e7;
    border-radius: 0 0 6px 6px;
    background-color: #f2f4f4;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.text_align_r {
    text-align: right;
}
.box__footer .list-inline {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.list-inline li {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.list-inline li:first-child {
    margin-left: 0;
    margin-right: 0;
}
.link_type_rss-main {
    padding: 4px 0 2px 24px;
    background: 0 2px no-repeat;
}
.link_type_rss-main {
    background-image: url('../img/rss-main-bg.png');
}
.link_type_calendar-main {
    padding: 4px 0 2px 24px;
    background: 0 1px no-repeat;
}
.link_type_calendar-main {
    background-image: url('../img/calendar-main-bg.png');
}
/* 货币对 指数 */
.main__tabs-informer .tabs__body {
    display: block;
    visibility: hidden;
    height: 0;
    opacity: 0;
}
.main__tabs-informer .tabs__body_active_yes {
    visibility: visible;
    height: auto;
    opacity: 1;
}
.tabs__body::after {
    position: absolute;
    top: -3px;
    right: 0;
    left: 0;
    height: 3px;
    background: #384041;
    content: '';
}
.tabs__body::after {
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,.12),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
    background-image: linear-gradient(rgba(0,0,0,.12),rgba(0,0,0,.12)),url('../img/box__header_bg.jpg');
}
.table {
    table-layout:inherit;
    box-sizing:content-box;
    border-spacing:0;
    width: 100%;
    border-collapse: separate;
    border-left: 1px solid #d0d1d1;
}
.table th,.table td {
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}
.table_rounded_b {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}
.main__informer-table {
    height: 315px;
    font-size: 14px;
}
.s_width_160{
    width:160px;
}
.s_width_120{
    width:120px;
}
.s_width_70{
    width:70px;
}
.table th, .table td {
    padding: 9px 9px 9px 10px;
    border-right: 1px solid #d0d1d1;
    background: #fff;
    line-height: 18px;
}
.table__row_size_small th, .table__row_size_small td {
    padding-top: 5px;
    padding-bottom: 4px;
}
.main__informer-table th {
    height: 18px;
}
.table__title th, .table__title td, .table thead th, .table thead td {
    background: -webkit-linear-gradient(#fff,#e8e9e9);
    background: linear-gradient(#fff,#e8e9e9);
    background-color: #e8e9e9;
    box-shadow: 0 -1px #d0d1d1 inset;
}
.table_theme_dark thead th, .table_theme_dark thead td {
    border-right: 1px solid #3b4444;
    background: #3b4444;
    box-shadow: 0 -1px #282e2e inset;
    color: #a6cc3c;
}
.table_theme_dark thead th:first-child, .table_theme_dark thead td:first-child {
    box-shadow: -1px 0 #3b4444;
}
.table_bordered_horisont tr td {
    padding-right: 10px;
    border-right: 0;
    box-shadow: 0 -1px #d0d1d1 inset;
}
.main__informer-table .main__quote-symbol {
    padding-right: 0;
    padding-left: 60px;
    background: 9px 50% no-repeat;
    text-align: left;
}
.main__informer-table .main__quote-symbol_type_eurusd {
    background-image: url('../img/eurusd_bg.png');
}
.table_without_stripes tbody tr:nth-child(odd) td, .table_without_stripes tbody tr:nth-child(even) td {
    background-color: #fff; 
}
.table td.main__quote-bid-container {
    padding: 0 1px 0 10px;
}
.main__quote {
    position: relative;
    padding: 6px 25px 6px 0;
    border-radius: 5px;
    background: right 10px top 12px no-repeat;
    text-align: right;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.main__quote_arrow_up {
    /* background-color: #ffb2b2; */
    -webkit-animation-name: fadeDown;
    animation-name: fadeDown;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.main__quote_arrow_up {
    background-image: url('../img/arrow_up_bg.svg');
}
.table td.main__quote-ask-container {
    padding: 0 10px 0 1px;
}
.table_bordered_horisont tr td:last-child {
    padding-right: 9px;
    border-right: 1px solid #d0d1d1;
}
.main__informer-table .main__quote-symbol_type_gbpusd {
    background-image: url('../img/gbpusd_bg.png');
}
.main__informer-table .main__quote-symbol_type_eurjpy {
    background-image: url('../img/eurjpy_bg.png');
}
.main__informer-table .main__quote-symbol_type_usdjpy {
    background-image: url('../img/usdjpy_bg.png');
}
.main__informer-table .main__quote-symbol_type_usdchf {
    background-image: url('../img/usdchf_bg.png');
}
.main__informer-table .main__quote-symbol_type_usdcad {
    background-image: url('../img/usdcad_bg.png');
}
.main__informer-table .main__quote-symbol_type_audusd {
    background-image: url('../img/audusd_bg.png');
}
.main__informer-table .main__quote-symbol_type_nzdusd {
    background-image: url('../img/nzdusd_bg.png');
}
.table_rounded_all tbody:last-child tr:last-child th:first-child, .table_rounded_all tbody:last-child tr:last-child td:first-child, .table_rounded_b tbody:last-child tr:last-child th:first-child, .table_rounded_b tbody:last-child tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
.table_rounded_all tbody:last-child tr:last-child th:last-child, .table_rounded_all tbody:last-child tr:last-child td:last-child, .table_rounded_b tbody:last-child tr:last-child th:last-child, .table_rounded_b tbody:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
.main__informer-table .main__quote-symbol_type_spx500 {
    background-image: url('../img/spx500_bg.png');
}
.main__informer-table .main__quote-symbol_type_nq100 {
    background-image: url('../img/nq100_bg.png');
}
.main__informer-table .main__quote-symbol_type_dax30 {
    background-image: url('../img/dax30_bg.png');
}
.main__informer-table .main__quote-symbol_type_ftse100 {
    background-image: url('../img/ftse100_bg.png');
}
.main__informer-table .main__quote-symbol_type_cac40 {
    background-image: url('../img/cac40_bg.png');
}
.main__informer-table .main__quote-symbol_type_nikk225 {
    background-image: url('../img/nikk225_bg.png');
}
/* 收集积分 */
.grid__col_w_24 {
    width: 950px;
}
.main__banner-mario {
    position: relative;
    display: inline-block;
    height: 81px;
    background: #b4d9e8;
    vertical-align: top;
}
.main__banner-mario::before {
    position: absolute;
    top: -9px;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat;
    content: '';
}
.main__banner-mario::before {
    background-image: url('../img/mario_before_bg.jpg');
}
.main__banner-mario-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 140px 0 250px;
    color: #2c3031;
    text-align: center;
    font: 21px/81px 'pt serif',serif;
}
.main__banner-mario-link:hover{
    text-decoration:none;
    outline:0;
}
/* 复制高手 */
.killer_row{
    border: 1px solid #d0d1d1;
    border-radius: 6px;
}
.killer_title{
    background-color: #384041;
    background-position: bottom;
    background-size: auto 28px,auto;
    background-repeat: repeat-x,repeat;
    background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.12)),url(../img/box__header_bg.jpg);
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.12)),url(../img/box__header_bg.jpg);
}
.killer_header{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 25%;
    padding-top: 30px;
    padding-left: 21px!important;
    padding-right: 21px!important;
    background: #fff;
    padding-left: 0;
    padding-right: 0;
    height: 338px;
    border-bottom-left-radius: 6px;
}
.killer_header p{
    font-size: 20px;
    font-weight: 700;
    line-height:1.4;
}
.killer_header ul{
    margin-top:20px;
}
.killer_header ul li{
    line-height:30px;
}
.killer_header ul li span{
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff000;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}
.killer_header ul a{
    position: absolute;
    bottom: 20px;
    left: 21%;
    display: inline-block;
    padding: 12px 40px;
    background: #000;
    font-size: 18px;
    line-height: 30px;
    color: #fff000;
}
.killer_top{
    background-color: #ffdd0a;
}
.killer_middle{
    background-color:#f5d509;
}
.killer_bottom{
    background-color:#f1d10b;
    border-bottom-right-radius: 6px;
}
.killer_content{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: 25%;
    padding-top: 20px;
    padding-left: 11px!important;
    padding-right: 11px!important;
    background-position: center center;
    padding-left: 0;
    padding-right: 0;
    height: 338px;
}
.killer_content .list1 {
    padding-bottom: 14px;
    padding-left: 10px;
    border-bottom: 1px solid #e8ca01;
}
.killer_content .list1 span{

}
.killer_content .list1 a{
    display: block;
    vertical-align: top;
    line-height: 34px;
    font-size: 24px;
    color: #222;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.killer_content .list2{
    padding-top: 35px;
    padding-bottom: 19px;
    overflow: hidden;
}
.list2 .list2_1,.list3 .list3_1{
    font-size: 14px;
    line-height: 1.42857;
    color: #222;
    float: left;
    padding-left: 10px;
    max-width: 150px;
}
.list2 .list2_1 .one{
    font-size:33px;
}
.list2 .list2_1 .two{
    font-size:10px;
}
.list2 .list2_1 .three{
    font-size:13px;
}
.list2 .list2_2,.list3 .list3_2{
    float: right;
    padding-right: 10px;
    padding-left: 22px;
}
.list2 .list2_2{
    padding-top: 15px;
    border-left: 1px solid #e8ca01;
}
.list2 .list2_2 .one{
    display: inline-block;
    padding: 9px;
    border: 1px solid #000;
    font-family: MicrosoftYaHei;
    font-size: 24px;
    line-height: 24px;
}
.list2 .list2_2 .two{
    display: inline-block;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 14px;
}
.killer_content .list3{
    padding-top: 26px;
    border-top: 1px solid #e8ca01;
}
.list3_1 .one{
    font-size:30px;
}
.list3_1 .two{
    font-size:14px;
}
.list3_2 a{
    display: inline-block;
    position: relative;
    width: 53px;
    height: 53px;
    background: #000;
}
.list3_2 a img{
    position: absolute;
    top: 28%;
    left: 29%;
    display: inline-block;
    width: 23px;
    height: 21px;
}
.list3_2 a img:hover{
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
/* 金融市场分析 */
.main__news-analytics {
    background: 1px 0 no-repeat;
}
.main__news-analytics {
    background-image: url('../img/news-analytics_bg.jpg');
}
.s_clearfix_yes:before, .s_clearfix_yes:after {
    display: table;
    content: '';
}
.s_clearfix_yes:before, .s_clearfix_yes:after {
    display: table;
    content: '';
}
.s_clearfix_yes:after {
    clear: both;
}
/* 距离新闻发布 */
.main__news-informer {
    position: relative;
    float: left;
    width: 470px;
    height: 288px;
    text-align: center;
}
.main__news-informer-title {
    margin: 9px 0;
    font: normal 21px/36px Georgia,serif;
}
.main__news-informer-flag-content {
    position: absolute;
    top: 55px;
    left: 125px;
    width: 59px;
    height: 59px;
}
.main__news-informer-flag-list {
    position: relative;
    width: 59px;
    height: 59px;
}
.main__news-informer-flag-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 59px;
    height: 59px;
    border-radius: 30px 0 0 30px;
    background-color: #fff;
}
.flag_country_eu {
    background-image: url('../img/eu_bg.png');
}
.main__timer {
    margin-bottom: 18px;
    padding-left: 50px;
    font-weight: bold;
    font-size: 32px;
    line-height: 63px;
}
.main__news-informer-content {
    position: relative;
    overflow: hidden;
    margin-bottom: 18px;
}
.main__news-informer-list {
    position: relative;
    min-height: 72px;
    width: 100%;
}
.main__news-informer-item {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 9px 0;
    width: 450px;
}
.main__news-informer-item_release_after {
    display: none;
}
.main__news-informer-country {
    margin-bottom: 9px;
    color: #999;
}
.main__news-informer-article {
    margin-bottom: 9px;
    font-size: 15px;
}
/* 分析评论 交易观点 */
.main__analytics-reviews {
    float: left;
    padding-top: 18px;
    padding-left: 10px;
    width: 470px;
}
.main__analytics-review {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 18px;
    min-height: 63px;
}
.main__analytics-review::after {
    display: table;
    clear: both;
    content: '';
}
.main__analytics-review-photo {
    position: relative;
    float: left;
    overflow: hidden;
    width: 50px;
    border-radius: 50%;
    background-color: #eff2f3;
}
.main__analytics-review-photo::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 1px 1px #d0d1d1 inset;
    content: '';
    pointer-events: none;
}
.main__analytics-review-content {
    padding-right: 10px;
    padding-left: 60px;
}
.main__analytics-review-category {
    position: relative;
    top: 1px;
    margin-left: 10px;
    padding-left: 10px;
    color: #777;
    vertical-align: top;
    font-size: 11px;
}
.main__analytics-review-category::before {
    position: absolute;
    top: 1px;
    left: 0;
    height: 10px;
    border-left: 1px solid #bbb;
    content: '';
}
.main__analytics-review-title {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
    max-height: 36px;
    white-space: nowrap;
    font-size: 14px;
}
.main__analytics-review-title::after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 18px;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1));
    background: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1));
    content: '';
}
.list-inline li {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}
.list-inline_sep_gray li, .list-inline_sep_green li {
    margin-left: 21px;
}
.list-inline li:first-child {
    margin-left: 0;
    margin-right: 0;
}
.list-inline_sep_gray li:first-child, .list-inline_sep_green li:first-child {
    margin-left: 0;
}
.list-inline_sep_gray li.before:before, .list-inline_sep_green li:before {
    position: absolute;
    top: 50%;
    left: -11px;
    margin-top: -5px;
    height: 10px;
    border-left: 1px solid #d0d1d1;
    content: '';
}
/* 来自 引用 */
.main__news-providers {
    padding-top: 13px;
    border-radius: 0 0 8px 0;
    background: right 1px bottom 1px no-repeat;
}
.main__news-providers {
    background-image: url('../img/news-providers_bg.jpg');
}
.s_width_220 {
    width: 220px;
}
.s_width_230 {
    width: 230px;
}
.main__news-providers-logo {
    display: block;
}
.main__news-providers-logo_type_fxstreet {
    margin-top: 22px;
    margin-bottom: 37px;
    line-height: 36px;
}
.main__news-providers-logo_type_fxwirepro {
    margin-top: 27px;
    margin-bottom: 43px;
}
.main__news-providers-logo_type_trading-central {
    margin-top: 4px;
    margin-bottom: 18px;
}
.main__news-providers-logo_type_autochartist {
    margin-top: 21px;
    margin-bottom: 43px;
}
.main__news-providers p{
    font: 12px/18px Helvetica,Arial,sans-serif;
}
/* 存入资金 */
.slider {
    position: relative;
    height: 45px;
    outline: 0;
}
.slider_type_payments {
    height: 54px;
    border-radius: 6px;
}
.slider__deposit {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    padding: 14px 10px 13px;
    width: 82px;
    border-radius: 6px;
    background: -webkit-linear-gradient(#a5c44b,#688811);
    background: linear-gradient(#a5c44b,#688811);
    background-color: #688811;
    box-shadow: 0 1px 2px #888;
    color: #fff;
    text-align: center;
    text-shadow: 0 -1px 0 #5b721b;
    line-height: 14px;
}
.slider__deposit:hover {
    background: -webkit-linear-gradient(#f6a72c,#c36709);
    background: linear-gradient(#f6a72c,#c36709);
    background-color: #c36709;
    text-decoration: none;
    text-shadow: 0 -1px 0 #b05912;
}
.slider__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0 10px;
    outline: 0;
    -ms-touch-action: none;
    touch-action: none;
}
.slider_type_payments .slider__content {
    top: -9px;
    right: -10px;
    bottom: -9px;
    left: 82px;
    padding: 9px 10px 9px 27px;
}
.slider__content:before, .slider__content:after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 10px;
    content: '';
}
.slider__content:before {
    left: 0;
    background: -webkit-linear-gradient(left,#fff,rgba(255,255,255,0));
    background: linear-gradient(to right,#fff,rgba(255,255,255,0));
}
.slider_type_payments .slider__content::before {
    top: 9px;
    bottom: 9px;
}
.slider__content:before, .slider__content:after {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 10px;
    content: '';
}
.slider__content:after {
    right: 0;
    background: -webkit-linear-gradient(left,rgba(255,255,255,0),#fff);
    background: linear-gradient(to right,rgba(255,255,255,0),#fff);
}
.slider__list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
}
.slider_type_payments .slider__list {
    display: -ms-flexbox;
    display: flex;
    padding: 9px 10px 9px 27px;
}
.slider__item {
    display: inline-block;
    width: 95px;
    height: 100%;
    vertical-align: top;
    text-align: center;
    white-space: normal;
}
.slider_type_payments .slider__item {
    min-width: 78px;
}
.slider_type_payments .slider__item {
    margin-right: 31px;
    width: 78px;
    border-radius: 6px;
    background: -webkit-linear-gradient(#f4f5f5,#e4e6e6);
    background: linear-gradient(#f4f5f5,#e4e6e6);
    background-color: #e4e6e6;
    box-shadow: 0 1px 2px #888, 0 1px #f7f8f8 inset, 0 -1px #eceded inset;
}
.slider__link {
    display: block;
    height: 100%;
    background: 50% 50% no-repeat;
}
.slider_type_payments .slider__link {
    overflow: hidden;
    box-sizing: border-box;
}
.slider_type_payments .slider__link::after {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.slider__method-image-hover{
    display: inline-block;
    vertical-align: middle;
}
.slider__link{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.slider__link:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    text-decoration:none;
}
/* 为什么选择 */
.text_div>h2{
    margin: 0 0 18px;
    font: normal 21px/36px Georgia,serif;
    font-family: Arial,'Microsoft YaHei','黑体','微软雅黑','宋体',sans-serif;
}
.text_div>p{
    font: 12px/18px Helvetica,Arial,sans-serif;
}
.text_div>h3{
    margin: 0 0 18px;
    font: normal 16px/18px Georgia,serif;
    font-family: Arial,'Microsoft YaHei','黑体','微软雅黑','宋体',sans-serif;
}
/* 如何开始外汇交易 */
.main__manual {
    margin-bottom: 9px;
    font: 12px/18px Helvetica,Arial,sans-serif;
}
.main__manual-item {
    position: relative;
    display: inline-block;
    margin-left: 40px;
    width: 280px;
    vertical-align: top;
}
.main__manual-item:first-child {
    margin-left: 0;
}
.main__manual-title {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    box-sizing: border-box;
    margin-bottom: 18px;
    padding: 0 10px 0 130px;
    height: 108px;
    border-radius: 6px;
    background: -webkit-linear-gradient(#fafafa,#f5f5f5);
    background: linear-gradient(#fafafa,#f5f5f5);
    box-shadow: 0 2px 3px rgba(0,0,0,.24);
    font-size: 15px;
    cursor: pointer;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
}
.main__manual-title::before {
    position: absolute;
    background: 0 0 no-repeat;
    content: '';
}
.main__manual-title_type_open::before {
    top: 9px;
    left: 18px;
    width: 91px;
    height: 90px;
}
.main__manual-title_type_open::before {
    background-image: url('../img/type_open_bg.png');
}
.main__manual-title_type_download::before {
    top: 20px;
    left: 29px;
    width: 81px;
    height: 68px;
}
.main__manual-title_type_download::before {
    background-image: url('../img/type_download_bg.png');
}
.main__manual-title_type_deposit::before {
    top: 18px;
    left: 30px;
    width: 70px;
    height: 74px;
}
.main__manual-title_type_deposit::before {
    background-image: url('../img/type_deposit_bg.png');
}
/* 开设账户 下载平台 入金并交易 */