html {
    /* font-family: sans-serif; */
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
html, button, input, textarea, select {
    color: #464b4a;
    font-size:12px/18px;
    /* font: 12px/18px Helvetica,Arial,sans-serif; */
    -webkit-font-smoothing: antialiased;
}
.page {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* overflow: auto; */
    overflow:hidden;
    min-width: 1000px;
    min-height: 100%;
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    /* font-family: Arial,'Microsoft YaHei','黑体','微软雅黑','宋体',sans-serif; */
    position: relative !important;
    direction: ltr;
}
.grid__container {
    margin-right: auto;
    margin-left: auto;
    width: 950px;
}
/* 头部 */
.header {
    /* position: relative; */
    /* background: #384041; */
    color: #d4d9d7;
    /* -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; */
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    background:#fff;
    z-index:99;
}
/* 头部右边 */


/* 头部内容块 */
.header_content {
    position: relative;
    margin: 0 auto;
    width: 950px;
    height: 80px;
    text-align: justify;
    text-justify: distribute;
}
.header_content::after {
    display: inline-block;
    width: 100%;
    content: '';
}
.header_content>a{
    position:relative;
    display:inline-block;
    width:150px;
    height:100%;
}
.header__logo-ball {
    width: 150px;
    height: auto;
    position: absolute;
    top: 0px;
    right:0px;
    bottom:0px;
    left: 0px;
    margin:auto;
}
/* .header__logo-mini {
    position: relative;
    display: inline-block;
    top: 23px;
    left: 17px;
    margin-right: 25px;
} */
.header__birthday {
    position: relative;
    top: 23px;
    display: inline-block;
    overflow: hidden;
    width: 178px;
    height: 47px;
    background: no-repeat;
    vertical-align: top;
    text-align: left;
    text-indent: -999em;
}
.header__birthday {
    top: 33px;
    width: 188px;
    height: 25px;
}
.header__birthday {
    background-image: url('../img/header_content_img.png');
}
/* 开始交易 投资 存入资金 */
.header__action-list {
    float:right;
    margin-top:20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
}
.header__action-item {
    display: inline-block;
    margin: 0 0 0 18px;
    vertical-align: top;
}
.header__action-item:first-child {
    margin-left: 0;
}
.header__action {
    position: relative;
    display: inline-block;
    padding: 10px 21px;
    outline: 0;
    border-radius: 6px;
    /* background: -webkit-linear-gradient(#444c4d,#394343);
    background: linear-gradient(#444c4d,#394343); */
    background-color: #fff;
    color: #000;
    vertical-align: top;
    border:1px solid #000;
    /* text-shadow: 0 -1px #212828; */
}
/* .header__action_type_primary {
    background: -webkit-linear-gradient(#ed7330 1px,#d25407);
    background: linear-gradient(#ed7330 1px,#d25407);
    background-color: #d25407;
    color: #fff;
    text-shadow: 0 -1px 0 #bb420b;
} */
.header__action_type_primary {
    /* background: -webkit-linear-gradient(#ed7330 1px,#da4911);
    background: linear-gradient(#ed7330 1px,#da4911); */
    background-color: #da4911;
    color: #fff;
    /* text-shadow: 0 -1px 0 #bb420b; */
    border:1px solid #da4911;
    /* border-bottom:2px solid #4163bb; */
}
.header__action_type_primary::before {
    box-shadow: 0 1px rgba(255,255,255,.2) inset;
}
.header__action:focus, .header__action:hover {
    /* background: -webkit-linear-gradient(#f7a82d 1px,#bd6309);
    background: linear-gradient(#f7a82d 1px,#bd6309); */
    background-color: #da4911;
    color: #fff;
    text-decoration: none;
    border:1px solid #da4911;
    /* border-bottom:2px solid #4163bb; */
    /* text-shadow: 0 -1px 0 #b05912; */
}
/* 在线客服 QQ交谈 */
.header__contact-list {
    position: relative;
    top: 9px;
    display: inline-block;
    color: #d1d7d5;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
    font-size: 14px;
}
.header__phone {
    display: block;
    margin: 0 0 9px;
    font-size: 16px;
}
.header__contact-list span, .header__contact-list a {
    color: #d4d9d7;
}
.header__chat {
    display: block;
    margin: 0 0 9px;
}
.qq-chat_type_icon {
    display: inline-block;
    height: 22px;
    width: 92px;
}
.qq-chat_type_icon {
    background-image: url('../img/header_qq.png');
}

a, .link {
    color: #0289cc;
    text-decoration: none;
    cursor: pointer;
}
a:active, a:hover {
    outline: 0;
}
a:hover, .link:hover, .link_hover_yes {
    text-decoration: underline;
}
