.sidebar-box {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -270px;
    height: auto;
    height: 413px\0;
    /* border: solid #9BB6D4 1px; */
    border:1px solid #191935;
    border-radius: 4px;
    background: #fff;
    z-index: 500;
}
.sidebar-box p{
    margin:0;
}
.sidebar-box li {
    position: relative;
    width: 72px;
    text-align: right;
    font-size: 0;
}
.sidebar-box .li-line {
    /* border: solid #9BB6D4; */
    border:solid #191935;
    border-width: 1px 0;
}
.sidebar-box .li-line-bottom {
    /* border: solid #9BB6D4; */
    border:solid #191935;
    border-width: 0 0 1px 0;
}
.side-hoverout {
    position: absolute;
    right: 73px;
    top: -1px;
    display: inline-block;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
}
.sidebar-box a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 8px 0;
    /* color: #446b96; */
    color:#191935;
    font-size: 13px;
    background: #fff;
    border-radius: 4px;
    cursor: pointer;
    z-index: 2;
    text-align: center;
}
.sidebar-box a:hover {
    border-radius: 0;
}
.sidebar-box a:hover, .side-hoverout a:hover .side-hover-w {
    /* background: #5279A5; */
    background:#191935;
    color: #fff;
    text-decoration: none;
}
.side-hoverout a {
    display: inline-block;
    width: 70px;
    padding: 0;
    margin-right: 5px;
    background: none;
    border-radius: 4px;
    overflow: hidden;
}
.sidebar-box .side-hover-w {
    /* border: solid #9BB6D4 1px; */
    border:solid #191935;
    border-width:1px;
    border-radius: 4px;
    padding: 8px 0;
    background: #fff;
    overflow: hidden;
}
.sidebar-box .side-icon {
    background: url('../img/sidebg.png') no-repeat;
}
.sidebar-box .side-icon {
    display: inline-block;
    width: 34px;
    height: 36px;
}
.sidebar-box .side-i6 {
    width: 34px;
    height: 30px;
    background-position: -84px -178px;
}
.sidebar-box .side-i7 {
    width: 34px;
    height: 30px;
    background-position: -84px -36px;
}
.sidebar-box .side-i1 {
    width: 38px;
    height: 29px;
    background: url('../img/chat-a2.gif') no-repeat;
}
.sidebar-box .side-i2 {
    width: 36px;
    height: 30px;
    background-position: 0 -35px;
}
.side-weix-anim {
    position: relative;
    width: 122px;
    height: 122px;
    padding-right: 5px;
    line-height: 0;
    text-align: right;
    background: #fff url('../img/wechat.jpg') no-repeat center;
    background-size:120px 120px;
    /* border: solid #9BB6D4 1px; */
    border:solid #191935 1px;
    border-radius: 4px;
    margin-left:100px!important;
}
.side-weix-anim .expert-fl-im {
    position: absolute;
    left: 10px;
    bottom: 30px;
}
.sidebar-box .side-i8 {
    width: 34px;
    height: 33px;
    background-position: -82px -68px;
}
.sidebar-box .side-i9 {
    width: 37px;
    height: 33px;
    background-position: -82px -112px;
}
.sidebar-box .side-i3 {
    width: 36px;
    height: 33px;
    background-position: 0 -69px;
}
.sidebar-box .side-i4 {
    width: 36px;
    height: 34px;
    background-position: 0 -102px;
}
.last-hover-f {
    top: auto;
    bottom: -1px;
}
.side-weix {
    padding-right: 5px;
    line-height: 0;
    text-align: right;
    height:140px;
    overflow-y:hidden;
    width:302px;
}
.side-weix span{
    display:inline-block;
    margin-right:5px;
    width:94px;
    text-align:center;
}
.side-weix span.marginright0{
    margin-right:0;
}
.side-weix>a,.side-weix>span{
    height:140px;
    /* border: solid #9BB6D4 1px; */
    border:solid #191935 1px;
    border-radius: 4px;
    background:#fff;
    float:left;
}
.side-weix>a:hover{
    background:#fff;
    color:#191935;
}
.side-hoverout .side-down2-fon {
    width: 94px;
    margin-left:5px;
}
.side-weix img {
    vertical-align:baseline;
    width:92px;
    height:92px;
}
.side-weix span img{
    padding:7px;
}
.side-weix i{
    font-size:13px;
    font-style:normal;
    color:#191935;
    line-height:24px;
    display:block;
}
.sidebar-box .side-i11 {
    width: 34px;
    height: 30px;
    background-position: 0 -176px;
}
.sidebar-box .side-i10 {
    width: 43px;
    height: 33px;
    background-position: -76px -144px;
}
.sidebar-box .side-i12 {
    width: 52px;
    height: 36px;
    background-position: 0 -211px;
}

.sidebar-box a:hover .side-i1 {
    background: url('../img/chat-a3.gif') no-repeat;
}
.sidebar-box a:hover .side-i2 {
    width: 36px;
    height: 30px;
    background-position: -40px -35px;
}
.sidebar-box a:hover .side-i3 {
    width: 36px;
    height: 33px;
    background-position: -40px -69px;
}
.sidebar-box a:hover .side-i4 {
    width: 36px;
    height: 34px;
    background-position: -40px -102px;
}
.sidebar-box a:hover .side-i11 {
    background-position: -40px -176px;
}
.sidebar-box a:hover .side-i10 {
    width: 43px;
    height: 33px;
    background-position: -126px -144px;
}
.sidebar-box a:hover .side-i12 {
    background-position: -56px -211px;
}
.wex-anim-hf {
    right: 0px;
}
.sidebar-box a:hover .side-i6 {
    width: 34px;
    height: 30px;
    background-position: -122px -178px;
}
.sidebar-box a:hover .side-i7 {
    width: 34px;
    height: 30px;
    background-position: -130px -36px;
}
.sidebar-box a:hover .side-i8 {
    width: 34px;
    height: 33px;
    background-position: -130px -68px;
}
.sidebar-box a:hover .side-i9 {
    width: 37px;
    height: 33px;
    background-position: -128px -112px;
}
.side-hoverout a:hover {
    border-radius: 4px;
}